:host {
  display: block;
  overflow: hidden;
}

.contacts-canvas {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}

:root {
  --bg: #f6f7f8;
  --topbar-bg: #ffffff;
  --sidebar-bg: #2a3647;
  --ink: #000000;
  --ink-muted: #2a3647;
  --ink-light: #cdcdcd;
  --blue: #29abe2;
  --link: #007cee;
}

.blue-line {
  background-color: #007cee;
}

.contacts-page {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: var(--bg);
  font-family: 'Inter', system-ui, Arial, sans-serif;
  margin: 0 auto;
}

.heading {
  position: absolute;
  left: 743px;
  top: 206px;
  width: 569px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.heading h1 {
  text-align: right;
  margin: 0;
  width: 274px;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  color: #000;
}

.heading__divider {
  width: 0;
  height: 59px;
  border: 3px solid var(--blue);
}

.heading p {
  margin: 0;
  width: 235px;
  font-size: 27px;
  line-height: 120%;
  color: #2a3647;
}

.list-panel {
  position: absolute;
  top: 96px;
  left: 232px;
  width: 456px;
  background: #fff;
  box-shadow: 4px 0 6px rgba(0, 0, 0, 0.08);
  height: calc(100vh - 100px);
  overflow: hidden;


  .list-panel__inner {
    max-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .primary-contact-container {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: sticky;
      top: 0;
      background: #fff;
      z-index: 10;
      width: 100%;
      height: 105px;
      flex-shrink: 0;

      .primary-contact {
        width: 352px;
        height: 56px;
        margin: 0;
        padding: 12px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        background: #2a3647;
        color: #fff;
        border: 1px solid #2a3647;
        border-radius: 10px;
        font-weight: 700;
        font-size: 21px;
        cursor: pointer;
      }

      .primary-contact:hover {
        background-color: #29abe2;
        border-style: none;
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
      }

      .contacts-list {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        .contacts-list-center {
          width: 352px;
          overflow: hidden !important;
          padding-bottom: 100px;

          

        }
      }
    }
  }
}






.primary-contact {
  font-size: 24px;
  line-height: 1;
}

.letter {
  width: 20px;
  padding: 17px 36px 0;
  font-size: 20px;
  color: #000;
}

.divider {
  height: 0;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  margin: 8px 0;
}

.contact-row {
  display: flex;
  align-items: flex-start;
  gap: 35px;
  padding: 15px 24px;
  width: 352px;
  height: 78px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.badge {
  position: relative;
  width: 42px;
  height: 42px;
}

.badge__circle {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  border-radius: 45px;
}

.badge__initials {
  position: absolute;
  left: 7px;
  top: 16px;
  width: 28px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  background: transparent !important;
}


.name {
  font-size: 20px;
  color: #000;
}

.mail {
  font-size: 16px;
  color: #007cee;
}

div.contact-row:hover {
  background-color: #f6f7f8;
}

div.contact-row:active {
  background-color: #2a3647;
  color: white;

  .contact-row__text {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .name {
      color: white;
    }

    .mail {
      color: #007cee;
    }
  }
}

.blue_line {
  background-color: #007cee;
}


.detail-panel-mobile {
  position: absolute;
  max-width: 1100px;
  width: calc(100% - 16px);
  top: 128px;
  left: 16px;
  height: calc(100vh - 172px - 128px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 16px;

  .go-back {
    position: absolute;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0px;
    right: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
      border-radius: 50%;
      background-color: #0C2E621F;

      img {
        transform: scale(1.2);
      }

    }


    //Bjorn fragen!!!>>>live server pfad OK auf DA kann nicht gefunden werden  
    /* 
    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("/assets/img/contacts/arrow-left.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:active {
      border-radius: 50%;
      background-color: #0C2E621F;

      &::before {
        display: none;
      }

      &::after {
        content: "";
        display: block;
        width: 26px;
        height: 26px;
        background-image: url("/assets/img/contacts/arrow-left-bigger.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
 */

  }

  .panel-width {
    max-width: 428px;
    width: 100%;

    .heading-mobile {
      display: flex;
      flex-direction: column;
      height: 104px;
      min-width: 213px;
      gap: 16px;

      .heading-mobile-title {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: 88px;
        width: 213px;
        gap: 8px;

        h1 {
          width: 211px;
          height: 56px;
          font-weight: 700;
          font-size: 48px;
          line-height: 120%;
          color: #000;
          margin: 0;
        }

        p {
          width: 175px;
          height: 24px;
          font-size: 20px;
          line-height: 120%;
          font-weight: 400;
          color: #2a3647;
          margin: 0;
          letter-spacing: 0;
        }
      }

      .blue-line {
        position: relative;
        top: -3px;
        width: 90px;
        height: 0px;
        border: 2px solid #29ABE2;
        transform: rotate(-90deg);
        transform: scaleX(1);
        transform-origin: top left;
      }
    }

    .detail-panel-mobile-content {
      margin-top: 50px;
      width: 100%;

      .name {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        .avatar-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0px;
          gap: 10px;
          width: 80px;
          height: 80px;
          background: #ffffff;
          border: 3px solid #ffffff;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
          border-radius: 70px;
          flex: none;
          order: 0;
          flex-grow: 0;
          margin-right: 10px;
        }

        .avatar-circle {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .avatar-initials {
          width: 100%;
          height: 100%;
          font-style: normal;
          font-weight: 400;
          font-size: 27px;
          line-height: 120%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
        }

        .contact-name {
          height: 43px;
          font-weight: 700;
          font-size: 36px;
          line-height: 120%;
          letter-spacing: 0%;
          margin: 0;

        }
      }

      .section-title {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 24px;
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        margin: 0;
        gap: 15px;

        .detail-group {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .detail-label {
            height: 19px;
            min-width: 50px;
            font-size: 16px;
            font-weight: 700;
            font-style: bold;
            line-height: 120%;
            color: #2a3647;
          }

          .email-link {
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
            color: #007CEE;
            text-decoration: none;
          }

          .phone-number {
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
            color: #000000;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media (max-width: 1350px) {
  .primary-contact-container {
    height: 0px !important;
  }

  .detail-panel {
    .heading {
      position: absolute;
      left: 500px;
    }
  }

  .list-panel {
    position: absolute;
    left: 0px;
    top: 80px;
  }

  .list-panel__inner {
    height: calc(100vh - 176px);

    .contacts-list {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;

      .contacts-list-center {
        width: 352px;
        height: auto;
        overflow: hidden !important;


      }
    }
  }
}


@media (max-width: 1100px) {
  .detail-panel {
    .heading {
      display: none !important;
    }
  }

  .primary-contact-container {
    height: 0px;
  }

  .list-panel {
    position: absolute;
    left: 0px;
    top: 80px;
    width: 100%;
    height: auto;


    .primary-contact-container {
      width: 100%;
    }

    .list-panel__inner {
      height: calc(100vh - 140px);

      .contacts-list {
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;

        .contacts-list-center {
          width: 352px;
        }
      }
    }

    .contact-row {
      width: 352px;
    }

  }

  .primary-contact {
    position: fixed;
    right: 20px !important;
    bottom: 120px !important;
    width: 56px !important;
    height: 56px !important;
    border-radius: 50% !important;

    span {
      display: none !important;
    }
  }

  .primary-contact:after {
    visibility: hidden;
  }
}




@media (max-width: 350px) {
  .detail-panel {
    display: none !important;
  }

  .list-panel {
    position: absolute;
    left: 0px;
    top: 80px;
  }
}

@media (min-width:1100px) {
  .contactMobileList {

    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.dnone {
  display: none !important;
}


/* FAB */
/* FAB sitzt über der Bottom-Nav */
.fab {
  position: fixed;
  //top: 758px;
  //left: 356px;
  right: 20px;
  bottom: 120px;
  /* Bottom-Nav = 80px → +16px Abstand */
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: var(--ink);
  border: none;
  cursor: pointer;
  box-shadow: 6px 0px 12px rgba(0, 0, 1, 0.5);
  display: grid;
  place-items: center;
  rotate: 90deg;
  z-index: 1000;

  &:active {
    background: #29abe2;
  }

}

/* Ankerpunkt direkt über dem FAB */
.options-anchor {
  position: fixed;
  right: 16px;
  bottom: calc(96px + 56px + 12px);
  /* FAB-Unterkante + FAB-Höhe + Luft */
  z-index: 4200;
  /* höher als FAB & Bottom-Nav */
}

@media (max-height: 700px) {
  .contacts-list .contact-row {
    padding-top: 0px !important;
    padding-bottom: 10px !important;
    height: auto !important;
  }

  .letter {
    padding-top: 0px !important;
    margin: 0px !important;
  }
}

.stayBlue {
  background-color: #2a3647 !important;
      color: white !important;

      .contact-row__text {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .name {
          color: white !important;
        }

        .mail {
          color: #007cee !important;
        }
      }
}